* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {

    height: 100%;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    background-color: dodgerblue;


}

#friendAddress {
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

#accountNickname {
    color: #fff;
    padding: 10px;
}

.body {
    flex: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    overflow-y: auto;
}

.message {
    background-color: dodgerblue;
    padding: 10px;
    color: #fff;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}

.user_message {
    margin-left: auto;
    background-color: rgb(20, 187, 118);
    color: black;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.footer input {
    border-radius: 4px;
    border: none;
    outline: 0px;
    padding: 4px;
    display: block;
    width: 100%;
    margin: 5px;

}

.footer button {
    padding: 10px;
    border-radius: 50px;
    border: solid;
    border-color: rgb(1, 233, 233);
    border-width: 2px;
    background-color: rgb(1, 233, 233);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    color: rgba(0, 0, 0, 0.7);
}

.footer button:hover {
    background-color: dodgerblue;
    color: rgb(1, 233, 233);
}

.footer button:active {
    background-color: blue;
}

.caixa {
    display: flex;

    height: 90%;

}

.areaContatos {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(22, 22, 115);
    overflow-y: auto;
    height: 100%;
}

.contactsBtn {
    padding: 12px;
    font-size: 15px;
    margin-bottom: 4px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: dodgerblue;
    cursor: pointer;
}

.contactsBtn:hover {
    background-color: rgb(66, 161, 255);
}

.groupsBtn {
    color: #fff;
    padding: 12px;
    font-size: 15px;
    margin-bottom: 4px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgb(8, 0, 81);
    cursor: pointer;
}

.groupsBtn:hover {
    background-color: rgb(21, 12, 104);
}


.cabecalho {
    display: flex;
    background-color: rgb(96, 159, 222);
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    font-size: 38px;
    font-weight: bold;


}

.cabecalho img {
    width: 50px;
}

#connectWalletBtn {
    font-size: 16px;
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    border-radius: 4px;
    background-color: black;
    color: rgb(96, 159, 222);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#connectWalletBtn:hover {
    background-color: rgb(96, 159, 222);
    color: black;
}

#connectWalletBtn:active {
    color: yellow;
    border-color: yellow;
}

.campo {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.areaRequests {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(8, 0, 81);
    height: 111.15%;

    
}

.add-friend {
    align-items: center;
    width: 200px;
    height: 111.15%;
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;

}
.create-group {
    align-items: center;
    width: 200px;
    height: 111.15%;
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 0, 81);

}

.requests {
    padding: 15px;
    font-size: 20px;
    margin-bottom: 4px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgb(1, 233, 233);
    flex-direction: column;
    display: flex;
    text-align: center;
}

#create-group-btn, #add-member-btn {
    color: #fff;
    padding: 15px;
    width: 150px;
    font-size: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: dodgerblue;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    transition: background-color 0.3s, color 0.3s;
}

#create-group-btn:hover, #add-member-btn:hover {
    background-color: rgb(38, 28, 129);
}

.requestsBtnAccept{
    padding: 3px;
    margin: 2px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    background-color: green;
    cursor: pointer;
    color: white;
    width: 50px;
    height: 30px;
}
.requestsBtnAccept:hover{
    background-color: white;
    cursor: pointer;
    color: black;
    width: 50px;
    height: 30px;
}

.requestsBtnDeny{
    padding: 3px;
    margin: 2px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    background-color: red;
    cursor: pointer;
    color: white;
    width: 50px;
    height: 30px;
}
.requestsBtnDeny:hover{
    background-color: white;
    cursor: pointer;
    color: black;
    width: 50px;
    height: 30px;
}
.input {
    padding: 10px;
    width: 150px;
    height: fit-content;
    font-size: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
#title {
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.buttons {
    color: #fff;
    padding: 15px;
    width: 150px;
    font-size: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgb(8, 0, 81);
    cursor: pointer;
    text-align: center;
    margin: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.buttons:hover {
    background-color: rgb(38, 28, 129);
}


